{% extends "base.html" %}
{% block content %}
	<div>
	<h2>{{action}} {{item}}</h2>
	{% if action == "Edit" %} 
		<form action="/Finances/Account{{acc}}/Edit{{item}}-{{item_num}}/submit" method="post">
			<table class="input" >
				<tr class="input" ><th class="input" >Enter Name</th><td class="input" ><input type="text" name="name" value="{{edited_item.name}}" /></td></tr>
				<tr class="input" ><th class="input" >Enter Amount   £</th><td class="input" ><input type="float" name="value" value="{{'%0.2f'|format(edited_item.get_value())}}" /></td></tr>
				<tr class="input" ><th class="input" >Enter Date</th><td class="input" ><input type="number" name="date" value="{{edited_item.date}}" min="-1" max="32" step="1" /></td></tr>
				{% if item == "Transfer" %}
					<tr class="input" ><th class="input" id="target" colspan="2" >Select Target Account</th></tr>
					<tr class="input" >
						<td class="input"  id="target" colspan="2" >
							{% for i in indices %}
								<p align="center"><input type="radio" name="target" value="{{i}}" {% if acc == i %} disabled {% endif %} {% if edited_item.target == sys.accounts[i] %} checked {% endif %} />{{sys.accounts[i].name}}</p>
							{% endfor %}
						</td>
					</tr>
					<tr class="input" ><th class="input" >Enter Rule (if needed)</td><td class="input" ><input type="text" name="rule" {% if edited_item.rule %} value="{{edited_item.rule}}" {% endif %} /></td></tr>
				{% endif %}
				<tr class="input" >
					<th class="input" >
						<input type="submit" value="Submit" />
					</th>
		</form>
		<form action='/Finances/Account{{acc}}/{{item}}s'>
					<td class="input" >
						<input type="submit" value="back" />
					</td>
				</tr>
			</table>
		</form>
	{% else %}
		<form action="/Finances/Account{{acc}}/Add{{item}}/submit" method="post">
			<table class="input" >
				<tr class="input" ><th class="input" >Enter Name</th><td class="input" ><input type="text" name="name" /></td></tr>
				<tr class="input" ><th class="input" >Enter Amount   £</th><td class="input" ><input type="float" name="value" /></td></tr>
				<tr class="input" ><th class="input" >Enter Date</th><td class="input" ><input type="number" name="date" min="1" max="28" step="1" /></td></tr>
				{% if item == "Transfer" %}
					<tr class="input" ><th class="input" id="target" colspan="2">Select Target Account</th></tr>
					<tr class="input" >
						<td class="input"  colspan="2"  id="target">
							{% for i in indices %}
								<p align="center"><input type="radio" name="target" value="{{i}}" {% if acc == i %} disabled {% endif %} {% if i == 0 %} checked {% endif %} />{{sys.accounts[i].name}}</p>
							{% endfor %}
						</td>
					</tr>
					<tr class="input" ><td class="input" >Enter Rule (if needed)</td><td class="input" ><input type="text" name="rule" /></td></tr>
				{% endif %}
				<tr class="input" >
					<th class="input" >
						<input type="submit" value="Submit" />
					</th>
		</form>
		<form action='/Finances/Account{{acc}}/{{item}}s'>
					<td class="input" >
						<input type="submit" value="back" />
					</td>
				</tr>
			</table>
		</form>
	{% endif %}
	</div>
{% endblock %}