<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<html>
	<style>
		body {
			div-align: centre;
			background-color: black;
			font-family: arial;
		}

		h1 {
			color: white;
			margin: 20px;
		}

		p {
			border: 5px;
			color: white;
			margin: 10px;
		}
		
		a { color: white;
		}

		div {
			text-align: center;
			max-width: 500px;
			margin: auto;
		}

		table, tr, th, td {
			background-color: white;
			color:black;
		}
	</style>
	<head>
		<title>Finances</title>
		<!--<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="http://raspberrypi:5000/static/finstyle6.css">-->
	</head>
	<body>
		<a href="http://raspberrypi:5000/Finances">
			<img src="http://raspberrypi:5000/static/finances.jpg">
		</a>
		{% block content %} {% endblock %}
	</body>
</html>