{% extends "base.html" %}
{% block content %}
	<div>
		<h1>Bills of {{sys.accounts[acc].name}}</h1>
		<table border=1>
			<tr><th>Total Bills</th><td>£{{'%0.2f'|format(sys.accounts[acc].total_outgoings() - sys.accounts[acc].total_out_transfers())}}</td></tr>
		</table>
		<h3>List of Bills</h3>
		<table border=1>
			<tr>
				<th><a href="/Finances/Account{{acc}}/Bills_name" >Bill Name</a></th>
				<th><a href="/Finances/Account{{acc}}/Bills_amount" >Amount</a></th>
				<th><a href="/Finances/Account{{acc}}/Bills_date" >Date</a></th>
				<th>Edit</th>
			</tr>
			{% for i in range %}
				<tr>
					<td><a href='/Finances/Account{{acc}}/EditBill-{{indices[i]}}'>{{sys.accounts[acc].bills[indices[i]].name}}</a></td>
					<td>£{{'%0.2f'|format(sys.accounts[acc].bills[indices[i]].value)}}</td>
					<td>{{sys.accounts[acc].bills[indices[i]].date}}</td>
					<td>
						<a href='/Finances/Account{{acc}}/EditBill-{{indices[i]}}'>Edit</a>
						<a href='/Finances/Account{{acc}}/DeleteBill-{{indices[i]}}'>Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href='/Finances/Account{{acc}}/AddBill'>Add Bill</a>
	</div>
	<p><a href='/Finances/Account{{acc}}'>Back</a></p>
{% endblock %}