{% extends "base.html" %}
{% block content %}
	<div>
	<h2>Edit Account</h2>
	<form action="/Finances/EditAccount{{acc}}/submit" method="post">
		<table>
			<tr><td>Name:</td><td><input type="text" name="name" value="{{sys.accounts[acc].name}}"/></td></tr>
			<tr><td>Owner:</td><td><input type="text" name="owner" value="{{sys.accounts[acc].owner}}" /></td></tr>
			<tr><td><input type="submit" value="submit" /></td><td></td></tr>
		</table>
	</form>
	</div>
	<p><a href='/Finances/summary'>Back</a></p>
{% endblock %}